body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h2 {
    color: #2E2F42;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.1;
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

header .logo {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}



.nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
    

.ad-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
   letter-spacing: 0.02em;
}

.addresses {
    font-style: normal;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.ad-link:focus,
.ad-link:hover {
    color: #404BBF
}

.title-section {
    background-color: #2E2F42;
}

.page-title {
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.071;
    color: #FFFFFF;
    text-align: center;
}

.order-btn {
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.order-btn:hover,
.order-btn:focus {
    background-color: #404BBF;
}

.team {
    background-color: #F4F4FD;
}

.team li {
    background-color: #FFFFFF;
}

.team h2,
.team h3,
.team p {
    text-align: center;
}

.portfolio-title {
    text-align: center;
}

.foot {
    background-color: #2E2F42;
    color: #F4F4FD;
}

footer .logo {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo-span {
    color: #4D5AE5;
}