body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    color: #2E2F42;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.1;
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

header {
    border-bottom: 1px solid #E7E9FC;
}

img {
    display: block;
    max-width: 100%;
}

.card h3 {
    margin-bottom: 8px;
}

.feature .card,
.team .card {
    width: 264px;
}

.portfolio .card {
    width: 360px;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header .logo {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    padding-top: 24px;
    padding-bottom: 24px;
}

.section:not(.title-section) {
    padding-top: 120px;
    padding-bottom: 120px; 
}

.title-section {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

footer .section {
    background-color: #2E2F42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-start;
    margin-left: 76px;
    align-items: center;

}

.ad-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.ad-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.addresses {
    font-style: normal;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
    margin-left: auto;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.ad-link:focus,
.ad-link:hover {
    color: #404BBF
}

.title-section {
    background-color: #2E2F42;
}

.page-title {
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.071;
    color: #FFFFFF;
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.order-btn {
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    border: 0;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.15);

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}

.order-btn:hover,
.order-btn:focus {
    background-color: #404BBF;
}

.features {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.team {
    background-color: #F4F4FD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.team h2,
.team h3,
.team p {
    text-align: center;
}

.team-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
}

.team-card {
    overflow: hidden;
    min-width: 0;
}

.team li {
    background-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.text-team {
    padding: 32px 16px;
}

.portfolio-title {
    text-align: center;
}

.portfolio-list {
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}


.portfolio-card {
    
    overflow: hidden;
}

.text-portfolio {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.foot {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding-top: 100px;
    padding-bottom: 100px;
}

footer .logo {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;

    padding-top: 0;
    padding-bottom: 0;
}

.foot p {
    max-width: 264px;
}

.logo-span {
    color: #4D5AE5;
}